h1{
  text-align:center;
  font-family:cursive;
  color:white;
}
.nav{
  background-color:blue;
}
.nav a{
  color:white;
  font-family:cursive;
}
h2{
  text-align:center;
  position:fixed;
  bottom:900px;}
